/* login-register pages */
.formPage{
    display: flex;
    padding: 20px;
    height: calc(100vh - 40px);
}

.videoDiv{
    width: 70vw;
    position: relative;
    overflow: hidden;
    background: #00D7FF;
    border-radius: 25px;
}

.videoDiv h1{
    padding: 20px;
    color: white;
}

.videoDiv video{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    padding: 20px;
    gap: 20px;
}

.formHeader{
    width: 90%;
    text-align: left;
}

.formHeader h2{
    font-size: 32px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.formItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formItem label{
    font-weight: bold;
}

.formItem input {
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 2px solid black;
}

.password{
    display: flex;
    align-items: center;
    gap: 10px;
}

.password input{
    width: 100%;
}

.password img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 12px;
    border-radius: 25px;
    border: 2px solid black;
}

.password img.visible{
    background: #00D7FF;
}

.form button {
    padding: 15px;
    background: #00D7FF;
    border-radius: 25px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.form button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #00cc6a;
    color: black;
    transition: left 0.4s;
    z-index: -1;
    border-radius: 25px;
}

.form button:hover::before {
    left: 0;
}

.formFooter{
    width: 90%;
}

.formFooter a{
    color: black;
    text-decoration: none;
}

.formFooter a:hover{
    color: #00D7FF;
}

@media (max-width: 920px){
    .videoDiv{
        position: absolute;
        width: fit-content;
        height: fit-content;
        background: white;
    }

    .videoDiv video{
        display: none;
    }

    .videoDiv h1{
        color: black;
    }

    .formDiv{
        width: 100%;
        min-width: 0;
    }

    .formHeader, .form, .formFooter{
        width: 400px;
    }
}

@media (max-width: 480px){
    .formPage{
        padding: 0;
        height: 100vh;
    }

    .formDiv{
        width: 100%;
        min-width: 0;
    }

    .formHeader, .form, .formFooter{
        width: 100%;
    }
}

/* topbar */
.topbar{
    padding: 15px;
    background: #00D7FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: fit-content;
    position: relative;
    padding-bottom: 4px;
}

.logo a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.4s ease;
}

.logo a:hover::after{
    width: 100%;
}

.moreOptions{
    display: flex;
    align-items: center;
}

.moreOptions img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 11px;
    border-radius: 25px;
}

.options{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #00D7FF;
    position: absolute;
    top: 8%;
    right: 0%;
    gap: 20px;
}

.options a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: large;
    width: fit-content;
    position: relative;
    padding-bottom: 4px;
}

.options a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: width 0.4s ease;
}

.options a:hover::after{
    width: 100%;
}

/* todolist */
.todo{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.addTodo{
    display: flex;
    gap: 10px;
    width: 50%;
}

.addTodo input{
    padding: 15px;
    border: 2px solid black;
    outline: none;
    border-radius: 25px;
    width: 100%;
}

.addButton{
    background: none;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #00cc6a;
    color: black;
    transition: left 0.4s;
    z-index: -1;
    border-radius: 25px;
}

.addButton:hover::before {
    left: 0;
}

.addButton img{
    width: 24px;
    height: 24px;
    padding: 11px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

.todoItem{
    display: flex;
    gap: 10px;
    width: 50%;
}

.todoItemContent{
    width: 100%;
}

.updateForm{
    display: flex;
}

.updateForm input{
    padding: 15px;
    border-radius: 25px;
    border: 2px solid black;
    outline: none;
    width: 100%;
}

.contentDiv{
    display: flex;
    border: 2px solid black;
    border-radius: 25px;
}

.contentDiv p{
    border-radius: 25px;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}

.contentDiv img{
    height: 24px;
    width: 24px;
    padding: 11px;
    cursor: pointer;
    border-radius: 25px;
}

.todoItemButtons{
    display: flex;
    gap: 10px;
}

.todoItemButtons button{
    background: none;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todoItemButtons button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #00cc6a;
    color: black;
    transition: left 0.4s;
    z-index: -1;
    border-radius: 25px;
}

.todoItemButtons button:last-child::before{
    background: #ff0000;
}

.todoItemButtons button:hover::before {
    left: 0;
}

.todoItemButtons img{
    width: 24px;
    height: 24px;
    padding: 11px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
} 

@media(max-width: 1080px){
    .todoItem, .addTodo{
        width: 80%;
    }
}

@media (max-width: 720px){
    .todo{
        padding: 15px;
    }

    .todoItem, .addTodo{
        width: 100%;
    }
}

/* trashlist */
.trashList{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    align-items: center;
}

.trashItem{
    min-width: 50%;
    display: flex;
    gap: 10px;
}

.trashItem p{
    display: flex;
    padding: 10px;
    border: 2px solid black;
    width: 100%;
    border-radius: 25px;
}

.trashButtons{
    display: flex;
    gap: 10px;
}

.trashButtons img{
    width: 24px;
    height: 24px;
    padding: 11px;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
}

@media(max-width: 1080px){
    .trashItem{
        width: 80%;
    }
}

@media (max-width: 720px){
    .trashList{
        padding: 15px;
    }

    .trashItem{
        width: 100%;
    }
}