/* login-register pages */
.formPage{
    display: flex;
    padding: 15px;
    gap: 15px;
    height: calc(100vh - 30px);
    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.logo img{
    width: 42px;
    height: 42px;
    display: none;
}

.videoDiv{
    width: 70vw;
    overflow: hidden;
    background: var(--blue);
    border-radius: 25px;
}

.videoDiv h1{
    color: white;
}

.videoDiv video{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 430px;
    gap: 15px;
}

.form h2{
    text-align: left;
    font-size: 32px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 15px;
}

.formItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formItem label{
    font-weight: bold;
}

.formItem input{
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}

.formItem input:hover, .formItem input:focus{
    border-radius: 10px;
}

.password{
    display: flex;
    align-items: center;
    gap: 10px;
}

.password input{
    width: 100%;
}

.password img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 12px;
    border-radius: 25px;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}

.password img:hover{
    border-radius: 10px;
}

.password img.visible{
    background: var(--blue);
    border: 2px solid black;
}

.form button{
    padding: 15px;
    background: var(--blue);
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.form button:hover{
    border-radius: 10px;
    background-color: var(--green);
}

.form button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--green);
    color: black;
    transition: left 0.3s;
    z-index: -1;
}

.form button:hover::before {
    left: 0;
}

.formFooter{
    width: 90%;
}

.formFooter a{
    color: black;
    text-decoration: none;
}

.formFooter a:hover{
    color: var(--blue);
}

@media (max-width: 920px){
    .logo img{
        display: block;
    }

    .videoDiv{
        position: absolute;
        width: fit-content;
        height: fit-content;
        background: white;
    }

    .videoDiv video{
        display: none;
    }

    .videoDiv h1{
        color: black;
    }

    .formDiv{
        width: 100%;
        min-width: 0;
    }

    .formHeader, .form, .formFooter{
        width: 400px;
    }
}

@media (max-width: 480px){
    .logo{
        padding: 5px;
    }

    .videoDiv{
        border-radius: 0;
    }

    .formDiv{
        padding: 5px;
    }

    .formHeader, .form, .formFooter{
        width: 100%;
    }
}

/* topbar */
.topbar{
    padding: 15px;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.logo a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    width: fit-content;
    position: relative;
    padding-bottom: 4px;
}

.moreOptions button{
    background: none;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.moreOptions button:hover{
    border-radius: 10px;
}

.moreOptions button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white;
    transition: left 0.3s;
    z-index: -1;
}

.moreOptions button:hover::before{
    left: 0;
}

.moreOptions button img{
    width: 24px;
    height: 24px;
    padding: 11px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

.moreOptions button img{
    filter: invert(1);
}

.options{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: var(--blue);
    position: absolute;
    border-radius: 10px;
    border: 2px solid black;
    top: 96px;
    right: 15px;
    gap: 5px;
    z-index: 2;
    opacity: 0;
    /* transform: translateY(-10px) translateX(10px); */
    transform: translate(10px, -10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.options.show{
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
}

.option{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.options img{
    width: 24px;
    height: 24px;
}

.options p{
    text-decoration: none;
    color: black;
    font-size: large;
    width: fit-content;
    position: relative;
}

.option:hover{
    background-color: black;
}

.option:hover img{
    filter: invert();
}

.option:hover p{
    color: white;
}

.option:last-child:hover{
    background-color: var(--red);
}

.option:last-child:hover p{
    color: white;
}

/* todolist */
.todo{
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    gap: 15px;
}

.addTodo{
    display: flex;
    gap: 10px;
    width: 50%;
}

.addTodo input{
    padding: 15px;
    border: 2px solid black;
    outline: none;
    border-radius: 25px;
    width: calc(100% - 86px); 
    transition: all 0.3s ease-in-out; 
}

.addTodo input:hover, .addTodo input:active, .addTodo input:focus{
    border-radius: 10px;
}

.addButton{
    background: none;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.addButton:hover{
    border-radius: 10px;
}

.addButton::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--blue);
    color: black;
    transition: left 0.2s;
    z-index: -1;
}

.addButton:hover::before{
    left: 0;
}

.addButton img{
    width: 24px;
    height: 24px;
    padding: 11px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

.todoItem{
    display: flex;
    gap: 10px;
    width: 50%;
}

.todoItemContent{
    width: 100%;
}

.updateForm{
    display: flex;
}

.updateForm input{
    padding: 15px;
    border-radius: 25px;
    border: 2px solid black;
    outline: none;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.updateForm input:hover, .updateForm input:active, .updateForm input:focus{
    border-radius: 10px;
}

.contentDiv{
    display: flex;
    border: 2px solid black;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
}

.contentDiv:hover{
    border-radius: 10px;
}

.contentDiv p{
    border-radius: 25px;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}

.contentDiv button{
    background: none;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.contentDiv button:hover{
    border-radius: 10px;
}

.contentDiv img{
    height: 24px;
    width: 24px;
    padding: 11px;
    cursor: pointer;
    border-radius: 25px;
}

.todoItemButtons{
    display: flex;
    gap: 10px;
}

.todoItemButtons button{
    background: none;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.todoItemButtons button:hover{
    border-radius: 10px;
}

.todoItemButtons button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--green);
    color: black;
    transition: left 0.2s;
    z-index: -1;
}

.todoItemButtons .saveButton::before{
    background: var(--blue);
}

.todoItemButtons button:last-child::before{
    background: var(--red);
}

.todoItemButtons button:hover::before {
    left: 0;
}

.todoItemButtons img{
    width: 24px;
    height: 24px;
    padding: 11px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
} 

@media(max-width: 1080px){
    .todoItem, .addTodo{
        width: 80%;
    }
}

@media (max-width: 720px){
    .todo{
        padding: 15px;
    }

    .todoItem, .addTodo{
        width: 100%;
    }
}

/* trashlist */
.trashList{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    align-items: center;
}

.trashItem{
    min-width: 50%;
    display: flex;
    gap: 10px;
}

.trashItem p{
    display: flex;
    padding: 10px 15px;
    border: 2px solid black;
    width: 100%;
    border-radius: 25px;
}

.trashButtons button{
    background: none;
    border: 2px solid black;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.trashButtons button:hover{
    border-radius: 10px;
}

.trashButtons button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--blue);
    color: black;
    transition: left 0.2s;
    z-index: -1;
}

.trashButtons button:hover::before{
    left: 0;
}

.trashButtons img{
    width: 24px;
    height: 24px;
    padding: 11px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

.trashButtons{
    display: flex;
    gap: 10px;
}

.trashButtons button:last-child::before{
    background: var(--red);
}

@media(max-width: 1080px){
    .trashItem{
        width: 80%;
    }
}

@media (max-width: 720px){
    .trashList{
        padding: 15px;
    }

    .trashItem{
        width: 100%;
    }
}